<h1>Customer Management. <small>Manage customer information here.</small></h1>
<div class="list-container col-md-11">
  <mat-form-field appearance="fill">
    <mat-label><i matPrefix class="fa fa-search"></i> Search customers</mat-label>
    <input matInput placeholder="Search customers" #searchBox autofocus>
  </mat-form-field>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

      <!-- Main Columns -->
      <ng-container matColumnDef="{{ column.propName }}" *ngFor="let column of summaryColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.headerText }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[column.propName] }}</mat-cell>
      </ng-container>

      <!-- Buttons -->
      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let customer">
          <button mat-icon-button title="Edit this customer.">
            <i class="fa fa-pencil"></i>
          </button>
          <button mat-icon-button title="Delete this customer.">
            <i class="fa fa-trash-o"></i>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="list-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <app-customer-detail [customer]="element"></app-customer-detail>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let customer; columns: displayedColumns;"
               class="list-element-row"
               [class.list-expanded-row]="expandedElement === customer"
               (click)="expandedElement = customer"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="list-detail-row"></mat-row>
    </mat-table>
    <mat-paginator [length]="resultsLength" [pageSize]="20" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="col-md-1 side-panel">
  <button mat-fab color="primary" (click)="addCustomer(0)" title="Add New Customer.">
    <i class="fa fa-plus"></i>
  </button>
</div>
