<div class="animated fadeIn">
  <h3>Customer Management.</h3>
  <div class="row">
    <div class="col-9">
      <div class="datatable-container">
        <div class="progress-bar progress-bar-striped progress-bar-animated prog-bar" [hidden]="!isLoading"></div>
        <ngx-datatable class="bootstrap"
                       [rows]="rows"
                       [columnMode]="'flex'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [footerHeight]="40"
                       [rowHeight]="'auto'"
                       [reorderable]="true"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (page)="setPage($event)"
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Name" prop="name" [flexGrow]="3">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>{{ row.name }}</div>
              <div class="small">{{ row.address + ',' + row.cityName + ',' + row.provinceName }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email" prop="email" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contact #" prop="contactNumber" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contact Person" prop="contactPerson" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Price List" prop="priceList" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [flexGrow]="2">
            <ng-template ngx-datatable-header-template>
              <a routerLink="/customers/edit/0" class="btn btn-sm btn-primary float-right" accesskey="n"><i class="fa fa-plus"></i> New Customer</a>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="text-right">
                <a routerLink="/customers/info/{{ row.id }}" class="btn btn-ghost-primary" title="View customer information.">
                  <i class="fa fa-sticky-note-o"></i>
                </a>
                <a routerLink="/customers/edit/{{ row.id }}" class="btn btn-ghost-primary ml-1" title="Edit this customer.">
                  <i class="fa fa-pencil"></i>
                </a>
                <button class="btn btn-ghost-danger ml-1" (click)="onDeleteCustomer(row.id)" title="Delete this customer.">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-search"></i> Search Customers.
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Keywords.</label>
            <input class="form-control" placeholder="Search by keywords." [(ngModel)]="searchTerm" />
          </div>
          <div class="form-group">
            <label>Province.</label>
            <select class="form-control" [(ngModel)]="selectedProvince">
              <option *ngFor="let prov of provinces" [ngValue]="prov">{{ prov.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>City.</label>
            <select class="form-control" [(ngModel)]="selectedCity">
              <option *ngFor="let city of selectedProvince.cities" [ngValue]="city">{{ city.name }}</option>
            </select>
          </div>
          <button type="button" class="btn btn-sm btn-primary" (click)="search()">
            <i class="fa fa-search"></i> Search
          </button>&nbsp;
          <button type="button" class="btn btn-sm btn-secondary" (click)="clear()">
            <i class="fa fa-eraser"></i> Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
