<div class="card">
  <div class="card-header">
    Save Province &amp; City Information.
  </div>
  <div class="card-body">
    <form #provinceForm="ngForm" (ngSubmit)="saveProvince(provinceForm)">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
          </div>
          <input type="text" class="form-control" name="provinceName" placeholder="Province name" [(ngModel)]="province.name" required>
        </div>
      </div>

      <label>Cities:</label>
      <div class="form-group" *ngFor="let city of province.cities; index as i;">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
          </div>
          <input type="text" class="form-control" name="cityName" placeholder="City # {{ i + 1 }}" [ngClass]="{ 'strikethrough': city.isDeleted }" [(ngModel)]="city.name" [ngModelOptions]="{standalone: true}" required>
          <div class="input-group-append">
            <button *ngIf="province.id && province.id != 0 && !city.isDeleted" type="button" class="btn btn-danger" title="Delete this city." (click)="deleteCity(city)">
              <i class="fa fa-times"></i>
            </button>
            <button *ngIf="province.id && province.id != 0 && city.isDeleted" type="button" class="btn btn-danger" title="Undo deletion of this city." (click)="undoDelete(city)">
              <i class="fa fa-undo"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group form-actions">
        <button type="button" class="btn btn-secondary btn-square" (click)="addNewCity()" title="Add a new city.">
          <i class="fa fa-plus"></i> Add City
        </button>&nbsp;
        <button type="submit" class="btn btn-primary btn-square" [disabled]="!provinceForm.form.valid || !province.citiesValid || isSaving" title="Save province information.">
          <i *ngIf="!isSaving" class="fa fa-save"></i><i *ngIf="isSaving" class="fa fa-spinner fa-spin"></i>&nbsp;Save
        </button>
      </div>
    </form>
  </div>
</div>
