<div class="animated fadeIn">
  <h3>Customer Management.</h3>
  <div class="card no-radius">
    <div class="card-header">
      Save Customer Information.
    </div>
    <div class="card-body">
      <form #customerForm="ngForm" (ngSubmit)="saveCustomer(customerForm)">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Customer Name.</label>
              <div class="input-group">
                <input class="form-control" name="customerName" placeholder="Customer name" [(ngModel)]="customer.name" appFocusMe required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email.</label>
              <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="Customer email address" [(ngModel)]="customer.email" required email>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Contact Number.</label>
              <input class="form-control" name="contactNumber" placeholder="Contact Number" [(ngModel)]="customer.contactNumber">
            </div>
            <div class="form-group">
              <label>Contact Person.</label>
              <input class="form-control" name="contactPerson" placeholder="Contact Person" [(ngModel)]="customer.contactPerson">
            </div>

            <!--<mat-form-field appearance="outline">
              <mat-label>Province</mat-label>
              <input #provinceBox [(ngModel)]="customer.selectedProvince" [ngModelOptions]="{standalone: true}" matInput [matAutocomplete]="autoProvince">
              <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayProvince" (optionSelected)="onProvinceSelected($event.option.value)">
                <mat-option *ngFor="let prov of filteredProvinces" [value]="prov">{{ prov.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input #cityBox [(ngModel)]="customer.selectedCity" [ngModelOptions]="{standalone: true}" matInput [matAutocomplete]="autoCity"
                     [disabled]="!cities || cities.length == 0">
              <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayCity">
                <mat-option *ngFor="let city of filteredCities" [value]="city">{{ city.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>-->
            
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Address.</label>
              <textarea class="form-control" name="address" placeholder="Customer address" [(ngModel)]="customer.address" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Province.</label>
              <input class="form-control" name="province" placeholder="Province" [(ngModel)]="customer.provinceId">
            </div>
            <div class="form-group">
              <label>City.</label>
              <input class="form-control" name="city" placeholder="City" [(ngModel)]="customer.cityId">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Discount.</label>
              <input class="form-control" type="number" name="discount" [(ngModel)]="customer.discount">
            </div>
            <div class="form-group">
              <label>Terms.</label>
              <input class="form-control" name="terms" [(ngModel)]="customer.terms">
            </div>
            <div class="form-group form-check">
              <div *ngFor="let p of priceList | enumToArray">
                <input class="form-check-input" type="radio" name="priceList"
                       [(ngModel)]="customer.priceListId" [ngModelOptions]="{standalone: true}" [value]="p.value">
                <label class="form-check-label">{{ p.key }}</label>
              </div>
            </div>
            <div class="form-group form-actions">
              <button type="button" class="btn btn-secondary btn-square" (click)="backToSummary()">
                <i class="fa fa-angle-double-left"></i> Back
              </button>&nbsp;
              <button type="submit" class="btn btn-primary btn-square" [disabled]="!customerForm.form.valid || isSaving" title="Save customer information.">
                <i *ngIf="!isSaving" class="fa fa-save"></i><i *ngIf="isSaving" class="fa fa-spinner fa-spin"></i>&nbsp;Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
