<div class="animated fadeIn">
  <h3>Customer Management.</h3>
  <div class="card no-radius">
    <div class="card-header">
      Save Customer Information.
    </div>
    <div class="card-body">
      <form #customerForm="ngForm" (ngSubmit)="saveCustomer(customerForm)">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Customer Name.</label>
              <div class="input-group">
                <input class="form-control" name="customerName" placeholder="Customer name" [(ngModel)]="customer.name" appFocusMe required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email.</label>
              <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="Customer email address" [(ngModel)]="customer.email" required email>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Contact Number.</label>
              <input class="form-control" name="contactNumber" placeholder="Contact Number" [(ngModel)]="customer.contactNumber">
            </div>
            <div class="form-group">
              <label>Contact Person.</label>
              <input class="form-control" name="contactPerson" placeholder="Contact Person" [(ngModel)]="customer.contactPerson">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group custom-margin">
              <label>Address.</label>
              <textarea class="form-control" name="address" placeholder="Customer address" [(ngModel)]="customer.address" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label>Province.</label>
              <div class="input-group">
                <input class="form-control" name="province" placeholder="Province"
                       [(ngModel)]="customer.selectedProvince" [ngbTypeahead]="searchProvince"
                       [inputFormatter]="provinceFormatter" [resultTemplate]="provTemplate" required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>City.</label>
              <div class="input-group">
                <input class="form-control" name="city" placeholder="City" [disabled]="!customer.provinceId || customer.provinceId == 0"
                       [(ngModel)]="customer.selectedCity" [ngbTypeahead]="searchCity"
                       [inputFormatter]="cityFormatter" [resultTemplate]="cityTemplate" required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Discount.</label>
              <div class="input-group">
                <input class="form-control" type="number" name="discount" placeholder="Discount in %" [(ngModel)]="customer.discount">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Terms.</label>
              <input class="form-control" name="terms" placeholder="Terms" [(ngModel)]="customer.terms">
            </div>
            <div class="form-group form-check">
              <div *ngFor="let p of priceList | enumToArray">
                <input class="form-check-input" type="radio" name="priceList"
                       [(ngModel)]="customer.priceListId" [ngModelOptions]="{standalone: true}" [value]="p.value">
                <label class="form-check-label">{{ p.key }}</label>
              </div>
            </div>
            <div class="form-group form-actions">
              <button type="button" class="btn btn-secondary btn-square" (click)="backToSummary()">
                <i class="fa fa-angle-double-left"></i> Back
              </button>&nbsp;
              <button type="submit" class="btn btn-primary btn-square" [disabled]="!customerForm.form.valid || isSaving" title="Save customer information.">
                <i *ngIf="!isSaving" class="fa fa-save"></i><i *ngIf="isSaving" class="fa fa-spinner fa-spin"></i>&nbsp;Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- templates -->
<ng-template #provTemplate let-province="result" let-t="term">
  <ngb-highlight [result]="province.name" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #cityTemplate let-city="result" let-t="term">
  <ngb-highlight [result]="city.name" [term]="t"></ngb-highlight>
</ng-template>
