<div class="animated fadeIn">
  <form #itemForm="ngForm" (ngSubmit)="saveItem(itemForm)">
    <div class="card no-radius">
      <h6 class="card-header">Save Item Information.</h6>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Item Code.</label>
              <div class="input-group">
                <input class="form-control" name="itemCode" placeholder="Item code" [(ngModel)]="item.code" appFocus required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Item Name.</label>
              <div class="input-group">
                <input class="form-control" name="itemName" placeholder="Item name" [(ngModel)]="item.name" required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Description.</label>
              <div class="input-group">
                <input class="form-control" name="description" placeholder="Description" [(ngModel)]="item.description">
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Category.</label>
              <div class="input-group">
                <input class="form-control" name="category" placeholder="Category"
                       [(ngModel)]="item.selectedCategory" [ngbTypeahead]="searchCategory"
                       [inputFormatter]="categoryFormatter" [resultTemplate]="categoryTemplate" required>
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Quantity.</label>
              <div class="input-group">
                <input type="number" class="form-control" name="quantity" placeholder="Quantity" [(ngModel)]="item.quantity" [disabled]="item.id != 0">
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Unit.</label>
              <input class="form-control" name="unit" placeholder="Unit" [(ngModel)]="item.unit">
            </div>
            <div class="form-group">
              <label>Weight.</label>
              <input class="form-control" name="weight" placeholder="Item Weight" [(ngModel)]="item.weight">
            </div>
            <div class="form-group">
              <label>Thickness.</label>
              <input class="form-control" name="thickness" placeholder="Item Thickness" [(ngModel)]="item.thickness">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Main Price.</label>
              <div class="input-group">
                <input currencyMask class="form-control" name="mainPrice" placeholder="Main Price" [(ngModel)]="item.mainPrice">
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Walk-In Price.</label>
              <div class="input-group">
                <input currencyMask class="form-control" name="walkInPrice" placeholder="Walk-In Price" [(ngModel)]="item.walkInPrice">
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>N.E. Price.</label>
              <div class="input-group">
                <input currencyMask class="form-control" name="nePrice" placeholder="N.E. Price" [(ngModel)]="item.nePrice">
                <div class="input-group-append">
                  <span class="input-group-text">* Required</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-square" title="Save item information." accesskey="s"
                [disabled]="!itemForm.form.valid || item.categoryId == 0 || !item.categoryId || isSaving">
          <i *ngIf="!isSaving" class="fa fa-save mr-1"></i><i *ngIf="isSaving" class="fa fa-spinner fa-spin mr-1"></i>Save
        </button>
        <a routerLink="/inventory" class="btn btn-secondary btn-square ml-1">
          <i class="fa fa-angle-double-left mr-1"></i>Back
        </a>
      </div>
    </div>
  </form>
</div>
<!-- templates -->
<ng-template #categoryTemplate let-category="result" let-t="term">
  <ngb-highlight [result]="category.name" [term]="t"></ngb-highlight>
</ng-template>
