<div class="animated fadeIn">
  <h3>Manufactured Items.</h3>
  <div class="row">
    <div class="col-9 pr-0">
      <div class="datatable-container">
        <div class="progress-bar progress-bar-striped progress-bar-animated prog-bar" [hidden]="!isLoading"></div>
        <ngx-datatable class="bootstrap"
                       [rows]="(rows$ | async) || []"
                       [columnMode]="'flex'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [footerHeight]="40"
                       [rowHeight]="'auto'"
                       [reorderable]="false"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (page)="setPage($event)"
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Quantity" prop="adjustmentQuantity" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Item" prop="item" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="adjustmentDate" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Machine" prop="machine" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Operator" prop="operator" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Remarks" prop="remarks" [flexGrow]="1" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="col-3">
      <a routerLink="/manufacture" class="btn btn-sm btn-block btn-primary mb-2" accesskey="n" *ngIf="canWrite">
        <i class="fa fa-plus"></i> Manufacture Item
      </a>
      <app-search-panel (searched)="onSearch($event)"
                        [showKeywords]="false"
                        [showItems]="true"
                        [items]="items$ | async">
      </app-search-panel>
    </div>
  </div>
</div>
