<div class="animated fadeIn">
  <div class="row">
    <div class="col-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="float-right">
            <select appControlStyle>
              <option>Last 7 days</option>
              <option>Last 14 days</option>
              <option>Last 30 days</option>
              <option>Last 60 days</option>
            </select>
          </div>
          <div class="text-value">9.823</div>
          <div>Recent orders.</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="float-right">
            <select appControlStyle>
              <option>Last 7 days</option>
              <option>Last 14 days</option>
              <option>Last 30 days</option>
              <option>Last 60 days</option>
            </select>
          </div>
          <div class="text-value">9.823</div>
          <div>Recent sales.</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="text-value">9.823</div>
          <div>Orders due this week</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="text-value">9.823</div>
          <div>Low quantity items</div>
        </div>
      </div>
    </div>
  </div>
  <h4>Orders board.</h4>
  <table class="table">

  </table>
</div>
