@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* You can add global styles to this file, and also import other style files */
body {
  background: #fff;
}

.breadcrumb {
  background-color: #f0f3f5;
}

.breadcrumb-menu .btn {
  color: #333;
}

.datatable-container {
  border: 1px solid #aaa;
  margin-bottom: 40px;
}

.no-radius {
  border-radius: 0;
}

.prog-bar {
  height: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

/* Form tables */
table.form-table td {
  padding: 5px 10px;
}

datatable-header-cell.center > div {
  text-align: center;
}

datatable-header-cell.right > div {
  text-align: right;
}

.btn-primary, .btn-primary[disabled] {
  background-color: #008080;
  border-color: #008080;
  color: #fff;
}

  .btn-primary:hover {
    background-color: #006666;
    color: #fff;
  }

.btn-ghost-primary {
  color: #008080;
}

  .btn-ghost-primary:hover {
    background-color: #008080;
    color: #fff;
  }

.progress-bar.bg-primary, .card.bg-primary {
  background-color: #008080 !important;
}

.badge-primary {
  background-color: #008080 !important;
  color: #fff;
}

.details-logo {
}

  .details-logo span {
    vertical-align: -webkit-baseline-middle;
    font-size: 18pt;
    font-weight: 500;
  }

@media print {
  .details-logo {
    margin-top: 30px;
  }

  .badge {
    visibility: hidden;
  }

  #btn-container {
    visibility: hidden;
  }
}
