@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* You can add global styles to this file, and also import other style files */
body {
  background: #fff;
}

.breadcrumb {
  background-color: #f0f3f5;
}

.breadcrumb-menu .btn {
  color: #333;
}

.datatable-container {
  border: 1px solid #aaa;
  margin-bottom: 40px;
}

.no-radius {
  border-radius: 0;
}

.prog-bar {
  height: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

/* Form tables */
table.form-table td {
  padding: 5px 10px;
}

datatable-header-cell.center > div {
  text-align: center;
}

datatable-header-cell.right > div {
  text-align: right;
}
