<div class="animated fadeIn">
  <form #deliveryForm="ngForm" (ngSubmit)="saveDelivery(deliveryForm)">
    <div class="row">
      <div class="col-12 px-0">
        <div class="card no-radius">
          <h6 class="card-header">Save Delivery Information.</h6>
          <div class="card-body p-0">
            <div class="row m-0 py-3 top-row">
              <div class="col-6">
                <h6 class="card-title">Delivery information.</h6>
                <div class="row">
                  <div class="form-group col-6 pr-0">
                    <label>Date.</label>
                    <div appInputGroupStyle>
                      <input appControlStyle #deliveryDate type="date" name="date" placeholder="Delivery date" [ngModel]="delivery.date | date:'yyyy-MM-dd'" (ngModelChange)="delivery.date=$event" required>
                      <div class="input-group-append">
                        <span class="input-group-text">* Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6 pr-0">
                    <label>Plate Number.</label>
                    <div appInputGroupStyle>
                      <input appControlStyle name="plateNumber" placeholder="Plate Number" [(ngModel)]="delivery.plateNumber" required>
                      <div class="input-group-append">
                        <span class="input-group-text">* Required</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h6 class="card-title">Delivery Areas.</h6>
                <div class="row">
                  <div class="form-group col-6 pr-0">
                    <label>Province.</label>
                    <input appControlStyle #province name="province" placeholder="Province"
                           [(ngModel)]="selectedProvince" [ngbTypeahead]="searchProvince"
                           [inputFormatter]="provinceFormatter" [resultTemplate]="provTemplate">
                  </div>
                  <div class="form-group col-6">
                    <label>City.</label>
                    <input appControlStyle name="city" placeholder="City" [disabled]="!selectedProvince || !selectedProvince.id || selectedProvince.id == 0"
                           [(ngModel)]="selectedCity" [ngbTypeahead]="searchCity" (ngModelChange)="citySelected()"
                           [inputFormatter]="cityFormatter" [resultTemplate]="cityTemplate">
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="delivery.groupedItems && delivery.groupedItems.length != 0">
                <span class="badge badge-primary font-sm mr-2 px-2 py-1 font-weight-normal" *ngFor="let item of delivery.groupedCategories; index as i;">
                  Total {{ item.categoryName }}: {{ item.totalQuantity }}
                </span>
              </div>
            </div>
            <div class="row m-0 py-3">
              <div class="col-6 pr-0">
                <h6 class="card-title">Orders.</h6>
                <table class="table table-sm border-bottom border-right border-left table-striped">
                  <thead>
                    <tr>
                      <th width="12%" class="text-right">Qty</th>
                      <th width="25%">Item</th>
                      <th width="20%">Category</th>
                      <th width="23%">Customer</th>
                      <th width="20%">Area</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let lineItem of delivery.lineItems; index as i;">
                      <td>
                        <input appControlStyle type="number" class="text-right" (change)="quantityUpdated($event, lineItem)"
                               [value]="lineItem.quantity" [max]="lineItem.maxQuantity" [min]="0" />
                      </td>
                      <td>{{ lineItem.item }}</td>
                      <td>{{ lineItem.categoryName }}</td>
                      <td>{{ lineItem.customer.name }}</td>
                      <td>{{ lineItem.customer.cityName + ', ' + lineItem.customer.provinceName }}</td>
                    </tr>
                    <tr *ngIf="!delivery.lineItems || delivery.lineItems.length == 0">
                      <td class="pl-3" colspan="5">No items added.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <h6 class="card-title">Summary.</h6>
                <table class="table table-sm border-bottom border-right border-left table-striped">
                  <thead>
                    <tr>
                      <th width="35%">Item</th>
                      <th width="35%">Category</th>
                      <th width="30%">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of delivery.groupedItems; index as i;">
                      <td>{{ item.itemCode + ' - ' + item.itemName }}</td>
                      <td>{{ item.categoryName }}</td>
                      <td>{{ item.totalQuantity }}</td>
                    </tr>
                    <tr *ngIf="!delivery.groupedItems || delivery.groupedItems.length == 0">
                      <td class="pl-3" colspan="3">Summary not found.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-square" title="Save delivery information." accesskey="s"
                    [disabled]="!deliveryForm.form.valid || delivery.lineItems.length == 0 || isSaving">
              <i *ngIf="!isSaving" class="fa fa-save mr-1"></i><i *ngIf="isSaving" class="fa fa-spinner fa-spin mr-1"></i>Save
            </button>
            <a routerLink="/deliveries" class="btn btn-secondary btn-square ml-1" accesskey="b">
              <i class="fa fa-angle-double-left mr-1"></i>Back
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- templates -->
<ng-template #provTemplate let-province="result" let-t="term">
  <ngb-highlight [result]="province.name" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #cityTemplate let-city="result" let-t="term">
  <ngb-highlight [result]="city.name" [term]="t"></ngb-highlight>
</ng-template>
