<div class="animated fadeIn card" *ngIf="delivery$ | async as delivery">
  <div class="card-body">
    <div class="small">
      Delivery # {{ delivery.deliveryNumber }}
      <span class="badge badge-danger align-top" *ngIf="delivery.isNew">New!</span>
    </div>
    <div class="font-italic mb-2">
      <span class="mr-5">Location: {{ delivery.city.name }}, {{ delivery.province.name }}</span>
      <span class="mx-5">Plate Number: {{ delivery.plateNumber }}</span>
      <span class="mx-5">Date: {{ delivery.date | date:'MM/dd/yyyy' }}</span>
    </div>
    <div class="row px-0">
      <div class="col-6">
        <h6 class="card-title">Orders.</h6>
        <table class="table table-sm border-bottom border-right border-left">
          <thead>
            <tr>
              <th width="20%" class="text-right">Quantity</th>
              <th width="30%">Item</th>
              <th width="20%">Category</th>
              <th width="30%">Customer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineItem of delivery.lineItems; index as i;">
              <td class="text-right">{{ lineItem.quantity }}</td>
              <td>{{ lineItem.item }}</td>
              <td>{{ lineItem.categoryName }}</td>
              <td>{{ lineItem.customer.name }}</td>
            </tr>
            <tr *ngIf="!delivery.lineItems || delivery.lineItems.length == 0">
              <td class="pl-3" colspan="4">No items added.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <h6 class="card-title">Summary.</h6>
        <table class="table table-sm border-bottom border-right border-left">
          <thead>
            <tr>
              <th width="35%">Item</th>
              <th width="35%">Category</th>
              <th width="30%">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of delivery.groupedItems; index as i;">
              <td>{{ item.itemCode }} - {{ item.itemName }}</td>
              <td>{{ item.categoryName }}</td>
              <td>{{ item.totalQuantity }}</td>
            </tr>
            <tr *ngIf="!delivery.groupedItems || delivery.groupedItems.length == 0">
              <td class="pl-3" colspan="3">Summary not found.</td>
            </tr>
          </tbody>
        </table>
        <h6 class="card-title">Totals.</h6>
        <table class="table table-sm border-bottom border-right border-left">
          <tbody>
            <tr *ngFor="let item of delivery.groupedCategories; index as i;">
              <td>Total {{ item.categoryName }}</td>
              <td>{{ item.totalQuantity }}</td>
            </tr>
            <tr *ngIf="!delivery.groupedItems || delivery.groupedItems.length == 0">
              <td class="pl-3" colspan="2">Totals not computed.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <a routerLink="/deliveries" class="btn btn-sm btn-ghost-dark mr-1" accesskey="b">
        <i class="fa fa-angle-double-left mr-1"></i>Back
      </a>
      <a routerLink="/deliveries/edit/{{ delivery.id }}" class="btn btn-sm btn-ghost-dark" accesskey="e" *ngIf="canWrite">
        <i class="fa fa-pencil mr-1"></i>Edit
      </a>
    </div>
  </div>
</div>
