<div class="animated fadeIn">
  <div class="row">
    <div class="col-4">
      <div class="card bg-light">
        <h5 class="card-header"><i class="fa fa-address-card-o"></i> {{ customer.name }}</h5>
        <div class="card-body pb-0">
          <h6 class="card-title">Contact Information.</h6>
          <ul class="list-unstyled font-italic">
            <li class="mb-2"><i class="fa fa-address-book-o fa-fw"></i> {{ customer.address }}, {{ customer.cityName }}, {{ customer.provinceName }}</li>
            <li class="mb-2"><i class="fa fa-phone fa-fw"></i> {{ customer.contactNumber }}</li>
            <li class="mb-2"><i class="fa fa-user-o fa-fw"></i> {{ customer.contactPerson }}</li>
            <li class="mb-2"><i class="fa fa-envelope-o fa-fw"></i> {{ customer.email }}</li>
          </ul>
          <h6 class="card-title">Other Information.</h6>
          <dl class="row">
            <dt class="col-sm-3 font-weight-normal">Price List</dt>
            <dd class="col-sm-9">{{ customer.priceList }}</dd>
            <dt class="col-sm-3 font-weight-normal">Discount</dt>
            <dd class="col-sm-9">{{ customer.discount | number:'1.2-2' }} %</dd>
            <dt class="col-sm-3 font-weight-normal">Terms</dt>
            <dd class="col-sm-9">{{ customer.terms }}</dd>
          </dl>
        </div>
      </div>
      <div class="mt-2">
        <a routerLink="/customers" class="btn btn-secondary btn-square">
          <i class="fa fa-angle-double-left"></i> Back
        </a>
        <a routerLink="/customers/edit/{{ customer.id }}" class="btn btn-info btn-square ml-1">
          <i class="fa fa-edit"></i> Edit
        </a>
      </div>
    </div>
  </div>
</div>
