<div class="animated fadeIn card" *ngIf="item$ | async as item">
  <div class="card-body">
    <h5 class="card-title">
      {{ item.code }} - {{ item.name }}
      <span class="badge badge-primary">{{ item.category.name }}</span>
    </h5>
    <p class="text-muted">{{ item.description }}</p>
    <div class="brand-card">
      <div class="brand-card-body">
        <div>
          <div class="text-value">{{ item.quantity }} {{ item.unit }}</div>
          <div class="text-uppercase text-muted small">Quantity</div>
        </div>
        <div>
          <div class="text-value">{{ item.mainPrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">Main Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.walkInPrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">Walk-In Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.nePrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">N.E. Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.weight | noValue }}</div>
          <div class="text-uppercase text-muted small">Weight</div>
        </div>
        <div>
          <div class="text-value">{{ item.thickness | noValue }}</div>
          <div class="text-uppercase text-muted small">Thickness</div>
        </div>
      </div>
    </div>
    <div>
      <a routerLink="/inventory" class="btn btn-sm btn-ghost-dark mr-1" accesskey="b">
        <i class="fa fa-angle-double-left mr-1"></i>Back
      </a>
      <a routerLink="/inventory/edit/{{ item.id }}" class="btn btn-sm btn-ghost-dark" accesskey="e" *ngIf="canWrite">
        <i class="fa fa-pencil mr-1"></i>Edit
      </a>
    </div>
  </div>
</div>
