<div class="animated fadeIn card" *ngIf="item$ | async as item">
  <div class="card-body">
    <h5 class="card-title">
      {{ item.code }} - {{ item.name }}
      <span class="badge badge-primary">{{ item.category.name }}</span>
    </h5>
    <p class="text-muted">{{ item.description }}</p>
    <div class="brand-card">
      <div class="brand-card-body">
        <div>
          <div class="text-value">{{ item.quantity }} {{ item.unit }}</div>
          <div class="text-uppercase text-muted small">Quantity</div>
        </div>
        <div>
          <div class="text-value">{{ item.mainPrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">Main Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.walkInPrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">Walk-In Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.nePrice | currency:'PHP':'₱ ' }}</div>
          <div class="text-uppercase text-muted small">N.E. Price</div>
        </div>
        <div>
          <div class="text-value">{{ item.weight | noValue }}</div>
          <div class="text-uppercase text-muted small">Weight</div>
        </div>
        <div>
          <div class="text-value">{{ item.thickness | noValue }}</div>
          <div class="text-uppercase text-muted small">Thickness</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6>Order history.</h6>
        <div class="datatable-container">
          <ngx-datatable class="bootstrap"
                         [rows]="(itemOrders$ | async) || []"
                         [columnMode]="'flex'"
                         [headerHeight]="10"
                         [summaryRow]="false"
                         [footerHeight]="25"
                         [rowHeight]="'auto'"
                         [reorderable]="false"
                         [externalPaging]="true"
                         [count]="itemOrdersPage.totalElements"
                         [offset]="itemOrdersPage.pageNumber"
                         [limit]="itemOrdersPage.size"
                         [externalSorting]="false"
                         (page)="setPage($event, 'itemOrder')">
            <ngx-datatable-column name="Customer" prop="customerName" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="dateOrdered" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantity" prop="quantityOrdered" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div class="col-6">
        <h6>Item movement.</h6>
        <div class="datatable-container">
          <ngx-datatable class="bootstrap"
                         [rows]="(itemHistory$ | async) || []"
                         [columnMode]="'flex'"
                         [headerHeight]="10"
                         [summaryRow]="false"
                         [footerHeight]="25"
                         [rowHeight]="'auto'"
                         [reorderable]="false"
                         [externalPaging]="true"
                         [count]="itemHistoryPage.totalElements"
                         [offset]="itemHistoryPage.pageNumber"
                         [limit]="itemHistoryPage.size"
                         [externalSorting]="false"
                         (page)="setPage($event, 'itemHistory')">
            <ngx-datatable-column name="Date" prop="date" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantity" prop="quantity" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Remarks" prop="remarks" [sortable]="false" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <a routerLink="/inventory" class="btn btn-sm btn-ghost-dark mr-1" accesskey="b">
        <i class="fa fa-angle-double-left mr-1"></i>Back
      </a>
      <a routerLink="/inventory/edit/{{ item.id }}" class="btn btn-sm btn-ghost-dark" accesskey="e" *ngIf="canWrite">
        <i class="fa fa-pencil mr-1"></i>Edit
      </a>
    </div>
  </div>
</div>
