<div class="animated fadeIn">
  <h3>Inventory Management.</h3>
  <div class="row">
    <div class="col-9 pr-0">
      <div class="datatable-container">
        <div class="progress-bar progress-bar-striped progress-bar-animated prog-bar" [hidden]="!isLoading"></div>
        <ngx-datatable class="bootstrap"
                       [rows]="(rows$ | async) || []"
                       [columnMode]="'flex'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [footerHeight]="40"
                       [rowHeight]="'auto'"
                       [reorderable]="false"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (page)="setPage($event)"
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Code" prop="code" [flexGrow]="1">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Item Name" prop="name" [flexGrow]="3">
            <ng-template let-item="row" ngx-datatable-cell-template>
              <div>{{ item.name | uppercase }}</div>
              <div><span class="badge badge-secondary badge-custom mr-1">{{ item.categoryName }}</span>{{ item.description }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Quantity" prop="quantity" [flexGrow]="2">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper header-right">
                <span class="datatable-header-cell-label draggable" (click)="sort()">{{ column.name }}</span>
              </span>
            </ng-template>
            <ng-template let-item="row" ngx-datatable-cell-template>
              <div class="text-right">
                {{ item.quantity | number: 0 }} {{ item.unit }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pricing" prop="mainPrice" [flexGrow]="2">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper float-right">
                <span class="datatable-header-cell-label draggable" (click)="sort()">{{ column.name }}</span>
              </span>
            </ng-template>
            <ng-template let-item="row" ngx-datatable-cell-template>
              <ul class="list-unstyled text-right mb-0">
                <li><em>Main : </em>{{ item.mainPrice | currency:'PHP':'₱ ' }}</li>
                <li><em>Walk-In : </em>{{ item.walkInPrice | currency:'PHP':'₱ ' }}</li>
                <li><em>N.E : </em>{{ item.nePrice | currency:'PHP':'₱ ' }}</li>
              </ul>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [flexGrow]="2" [sortable]="false">
            <ng-template ngx-datatable-header-template>
              <a routerLink="/inventory/edit/0" class="btn btn-sm btn-primary float-right mr-1" accesskey="n" *ngIf="canWrite">
                <i class="fa fa-plus"></i> New Item
              </a>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="text-right">
                <a routerLink="/inventory/info/{{ row.id }}" class="btn btn-ghost-primary" title="View item information.">
                  <i class="fa fa-sticky-note-o"></i>
                </a>
                <a routerLink="/inventory/edit/{{ row.id }}" class="btn btn-ghost-primary ml-1" title="Edit this item." *ngIf="canWrite">
                  <i class="fa fa-pencil"></i>
                </a>
                <button class="btn btn-ghost-danger ml-1" (click)="onDeleteItem(row.id)" title="Delete this item." *ngIf="canDelete">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="col-3">
      <app-search-panel (searched)="onSearch($event)"
                        [showCategories]="true"
                        [categories]="categories$ | async">
      </app-search-panel>
    </div>
  </div>
</div>
