<div class="animated fadeIn">
  <h3>Delivery Management.</h3>
  <div class="row">
    <div class="col-9 pr-0">
      <div class="datatable-container">
        <div class="progress-bar progress-bar-striped progress-bar-animated prog-bar" [hidden]="!isLoading"></div>
        <ngx-datatable class="bootstrap"
                       [rows]="(rows$ | async) || []"
                       [columnMode]="'flex'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [footerHeight]="40"
                       [rowHeight]="'auto'"
                       [reorderable]="false"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (page)="setPage($event)"
                       (sort)="onSort($event)">
          <ngx-datatable-column name="D.R. #" prop="deliveryNumber" [flexGrow]="1">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div>{{ value }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="date" [flexGrow]="1">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div>{{ value }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Area" prop="city" [flexGrow]="2">
            <ng-template let-delivery="row" ngx-datatable-cell-template>
              <div>{{ delivery.cityName }}, {{ delivery.provinceName }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Plate Number" prop="plateNumber" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div>{{ value }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [flexGrow]="2">
            <ng-template ngx-datatable-header-template>
              <a routerLink="/deliveries/edit/0" class="btn btn-sm btn-primary float-right mr-1" accesskey="n"><i class="fa fa-plus"></i> New Delivery</a>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="text-right">
                <a routerLink="/deliveries/info/{{ row.id }}" class="btn btn-ghost-primary" title="View delivery information.">
                  <i class="fa fa-sticky-note-o"></i>
                </a>
                <a routerLink="/deliveries/edit/{{ row.id }}" class="btn btn-ghost-primary ml-1" title="Edit this delivery.">
                  <i class="fa fa-pencil"></i>
                </a>
                <button class="btn btn-ghost-danger ml-1" (click)="onDeleteDelivery(row.id)" title="Delete this delivery.">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="col-3">
      <app-search-panel (searched)="onSearch($event)"
                        [showCustomers]="true"
                        [customers]="customers$ | async"
                        [showProvinces]="true"
                        [provinces]="provinces$ | async"
                        [showItems]="true"
                        [items]="items$ | async"
                        [showDates]="true">
      </app-search-panel>
    </div>
  </div>
</div>
