<div class="animated fadeIn">
  <h3>Category Management.</h3>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <input class="form-control" placeholder="Search categories" #searchBox autofocus>
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="search()">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>

      <div class="datatable-container margin-top">
        <div class="progress-bar progress-bar-striped progress-bar-animated prog-bar" [hidden]="!isLoading"></div>
        <ngx-datatable class="bootstrap"
                       [rows]="rows"
                       [columnMode]="'flex'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [footerHeight]="40"
                       [rowHeight]="'auto'"
                       [reorderable]="true"
                       [externalPaging]="true"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (page)="setPage($event)"
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Category Name" prop="name" [flexGrow]="2">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <button class="btn btn-sm btn-info btn-square" (click)="onEditCategory(row)" title="Edit this category.">
                <i class="fa fa-pencil"></i>
              </button>&nbsp;
              <button class="btn btn-sm btn-danger btn-square" (click)="onDeleteCategory(row.id)" title="Delete this category.">
                <i class="fa fa-trash-o"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

    <div class="col">
      <app-edit-category [category]="selectedCategory" (onCategorySaved)="onCategorySaved($event)"></app-edit-category>
    </div>
  </div>
</div>
